# Ignore the data/ESC50 folder
data/ESC50/
data/dongjak/

# Ignore the Kyoto-2016_AnoShift.tar file
Kyoto-2016_AnoShift.tar

# Ignore .pth files in the logs/ folder
logs/

# Ignore __pycache__
__pycache__